@import url('https://fonts.googleapis.com/css2?family=Winky+Sans&display=swap');
/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: "WinkySans";
    src: url("/src/assets/fonts/WinkySans-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */


